extend base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu

                ul.side-nav
                    +navItem('#', 'Settings', 'settings', true)
                    +navItem('#', 'My bookings', 'briefcase')
                    +navItem('#', 'My reviews', 'star')
                    +navItem('#', 'Billing', 'credit-card')

                - if(user.role === 'admin' || user.role === 'Chef')
                    .admin-nav
                        h5.admin-nav__heading= `${user.role}`
                        ul.side-nav
                            +navItem('/api/v1/manage_users', 'Manage users', 'users')
                            +navItem('/api/v1/manage_machines', 'Manage machines', 'machine')
                            +navItem('#', 'Manage tours', 'map')
                            +navItem('#', 'Manage reviews', 'star')
                            +navItem('#', 'Manage bookings', 'briefcase')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Your account settings

                    //- Without API
                    //- form.form.form-user-data(action='/submit-user-data' method='POST')
                    //- für photo hochladen ohne API --> action... POST, und zusätzlich dazu:  method='POST', enctype='multipart/form-data')

                    //- WITH API    darf dann nicht stehen method=POST usw
                    form.form.form-user-data
                        input#userId(type="hidden", value=`${user._id}`)
                        div(class="form__group")
                            label(class="form__label", for="employeeNumber") Employee Number
                            input#employeeNumber(class="form__input", type="number", value=user.employeeNumber, readonly, style="background-color: lightgrey;")
                        div(class="form__group")
                            label(class="form__label", for="firstname") Firstname
                            input#firstname(class="form__input", type="text", value=user.firstName)
                        div(class="form__group")
                            label(class="form__label", for="lastname") Lastname
                            input#lastname(class="form__input", type="text", value=user.lastName)
                        div(class="form__group")
                            label(class="form__label", for="birthDate") Birth date
                            input#birthDate(class="form__input", type="text", value=user.birthDate, readonly, style="background-color: lightgrey;")
                        div(class="form__group")
                            label(class="form__label", for="gender") gender
                            //input#gender(class="form__input", type="text", value=user.gender)
                            select#gender(class="form__input", value=user.gender)
                                option(value="male", selected=user.gender === 'male') Male
                                option(value="female", selected=user.gender === 'female') Female
                        div(class="form__group")
                            label(class="form__label", for="language") Language
                            //input#language(class="form__input", type="text", value=user.language, readonly, style="background-color: lightgrey;")
                            select#language(class="form__input")
                                option(value="Englisch", selected=user.language === 'Englisch') English
                                option(value="Deutsch", selected=user.language === 'Deutsch') Deutsch

                        div(class="form__group")
                            label(class="form__label", for="role") Role
                            input#role(class="form__input", type="text", value=user.role, readonly, style="background-color: lightgrey;")
                        div(class="form__group")
                            label(class="form__label", for="role") Department
                            input#department(class="form__input", type="text", value=user.department, readonly, style="background-color: lightgrey;")
                        //-.form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', value=`${user.name}`,autocomplete="user-name", required, name='name')
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email address
                            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
                        .form__group.form__photo-upload
                            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')

                            input.form__upload(type='file', accept='image/*', id='photo', name='photo')
                            label(for='photo') Choose new photo

                        .form__group.right
                            button.btn.btn--small.btn--green Save settings

                .line &nbsp;

                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Password change
                    form.form.form-user-password
                        //-.form__group     //- damit Fehler weg geht: Password forms should have (optionally hidden) username fields for accessibility: aber egal
                            label.form__label(for='username') Username (optional)
                            input#username.form__input(type='hidden', autocomplete='username', placeholder='Enter your username (optional)', aria-label='Username', hidden)
                        .form__group
                            label.form__label(for='password-current') Current password
                            input#password-current.form__input(type='password',autocomplete='current-password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') New password
                            input#password.form__input(type='password', autocomplete='new-password', placeholder='••••••••',  required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#password-confirm.form__input(type='password', autocomplete='new-password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--save-password Save password
