extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

block content

  main.main
    .user-view
      nav.user-view__menu

        ul.side-nav
          +navItem('/api/v1/me', 'My Settings', 'settings', true)
          +navItem('/api/v1/myMalReports', 'My ASMA-error reports', 'user-error-report')

        - if(user.role === 'admin' || user.role === 'Chef')
          .admin-nav
            h5.admin-nav__heading= `${user.role}`
            ul.side-nav
              +navItem('/api/v1/manage_users', 'Manage users', 'users')
              +navItem('/api/v1/manage_machinery', 'Manage machinery', 'machine')
              +navItem('/api/v1/manage_user-machine', 'Manage user/machine', 'user-m')
              +navItem('/api/v1/manage_ASMAmachine', 'Manage ASMA/machine', 'machine-asma')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Create new Machine
          form.form.form-new-machine-data
            div(class="form__group")
              label(class="form__label", for="name") Name
              input#name(class="form__input" type="text" placeholder="Name" required="required")
            div(class="form__group")
              label(class="form__label", for="description") Description
              input#description(class="form__input", type="text", placeholder="Description", required="required")
            div(class="form__group")
              label(class="form__label", for="zone") Zone
              select#zone(class="form__input")
                option(value="Sägen") Sägen
                option(value="Schweissen") Schweissen
                option(value="Spalten") Spalten
                option(value="Spitzen") Spitzen
                option(value="Ziehen") Ziehen
                option(value="Richten") Richten
                option(value="Glühen") Glühen
                option(value="Recken") Recken
                option(value="Beizen") Beizen
                option(value="Sonstige") Sonstige
            div(class="form__group")
              label(class="form__label", for="type") Type
              input#type(class="form__input", type="text", placeholder="Type")
            div(class="form__group")
              label(class="form__label", for="constructionYear") Construction year
              input#constructionYear(class="form__input", type="text", placeholder="1980")
            div(class="form__group")
              label(class="form__label", for="companyMachine") Company machine
              input#companyMachine(class="form__input", type="text", placeholder="Company machine")
            div(class="form__group")
              label(class="form__label", for="voltage") Voltage
              input#voltage(class="form__input", type="text", placeholder="3x400 VAC 50 Hz")
            div(class="form__group")
              label(class="form__label", for="controlVoltage") Control voltage
              input#controlVoltage(class="form__input", type="text", placeholder="24 VDC")
            div(class="form__group")
              label(class="form__label", for="ratedCurrent") Rated current
              input#ratedCurrent(class="form__input", type="text", placeholder="60 A")
            div(class="form__group")
              label(class="form__label", for="electricalFuse") Electrical fuse
              input#electricalFuse(class="form__input", type="text", placeholder="	250 A")
            div(class="form__group")
              label(class="form__label", for="compressedAir") Compressed air
              input#compressedAir(class="form__input", type="text", placeholder="4000 l/m 7 bar")
            div(class="form__group")
              label(class="form__label", for="weightMass") Weight mass
              input#weightMass(class="form__input", type="text", placeholder="12 t")
            div(class="form__group")
              label(class="form__label", for="dimensions") Dimensions
              input#dimensions(class="form__input", type="text", placeholder="12975 x 9300 x 500")
            div(class="form__group")
              label(class="form__label", for="drawingNumber") Drawing number
              input#drawingNumber(class="form__input", type="text", placeholder="0480.74240")
            div(class="form__group")
              label(class="form__label", for="department") Department
              select#department(class="form__input")
                option(value="Schweisserei") Schweisserei
                option(value="Zieherei") Zieherei
                option(value="Anarbeit") Anarbeit
                option(value="Unterhalt") Unterhalt
                option(value="IT") IT
                option(value="Engineering") Engineering
                option(value="Konstruktion") Konstruktion
                option(value="Geschäfts-Führung") Geschäfts-Führung
            div(class="form__group")
              button.btn.btn--green Save
              a.btn-space
              a.btn.btn--small.btn--gray(href=`/api/v1/manage_machinery`) Cancel