extends base

block content
    main.main
      div(class="user-view__content")
        div(class="user-view__form-container")
          h2.heading-secondary.ma-bt-md Create new User
          form.form.form-new-user-data
            div(class="form__group")
              label(class="form__label", for="employeeNumber") Employee Number
              input#employeeNumber(class="form__input" type="number" placeholder="70220" required="required" min="10000" max="99999")


              //-input#employeeNumber1(class="form__input", type="number", placeholder="70220", required="required", pattern="^[0-9]{5,}$")
            div(class="form__group")
              label(class="form__label", for="firstname") firstname
              input#firstname(class="form__input", type="text", placeholder="Max", required="required")
            div(class="form__group")
              label(class="form__label", for="lastname") lastname
              input#lastname(class="form__input", type="text", placeholder="Mustermann", required="required")
            div(class="form__group")
              label(class="form__label", for="birthDate") Birth date
              input#birthDate(class="form__input", type="text", placeholder="01.01.2002", required="required", pattern="^(0[1-9]|[1-2][0-9]|3[0-1])[.](0[1-9]|1[0-2])[.][0-9]{4}$")
            div(class="form__group")
              label(class="form__label", for="gender") gender
              select#gender(class="form__input")
                option(value="male") Male
                option(value="Female") Female
            div(class="form__group")
              label(class="form__label", for="language") language
              select#language(class="form__input")
                option(value="en") English
                option(value="de") Deutsch
            //-div(class="form__group")
              label(class="form__label", for="name") Name
              input#name(class="form__input", type="text", placeholder="Pinco Pallino", required="required")
            div(class="form__group")
              label(class="form__label", for="professional") professional
              input#professional(class="form__input", type="text", placeholder="professional")
            div(class="form__group")
              label(class="form__label", for="email") Email address
              input#email(class="form__input", type="email", placeholder="you@mubea.com")
            div(class="form__group ma-bt-md")
              label(class="form__label", for="password") Password
              input#password(class="form__input", type="password", placeholder="••••••••", required="required", minlength="8")
            div(class="form__group ma-bt-md")
              label(class="form__label", for="passwordConfirm") Confirm Password
              input#passwordConfirm(class="form__input", type="password", placeholder="••••••••", required="required", minlength="8")
            div(class="form__group")
              label(class="form__label", for="role") Role
              select#role(class="form__input")
                option(value="Chef") Chef
                option(value="Schichtleiter") Schichtleiter
                option(value="user") User
                option(value="admin") Admin
            //-div(class="form__group")
              label(class="form__label", for="department") Department
              select#department(class="form__input")
                option(value="Schweisserei") Schweisserei
                option(value="Zieherei") Zieherei
                option(value="Anarbeit") Anarbeit
                option(value="Unterhalt") Unterhalt
                option(value="IT") IT
                option(value="Engineering") Engineering
                option(value="Konstruktion") Konstruktion
                option(value="Geschäfts-Führung") Geschäfts-Führung
            div(class="form__group")
              label(class="form__label", for="department") Departments
              each department in data.departments
                //-label(class="form__checkbox-label" style="display: block; margin-bottom: 10px;")
                  //-input.form__checkbox-box#department-checkbox(type="checkbox", name="departments", value=department.name, checked=department.checked, style="width: 20px; height: 20px;")
                  //-input#department-checkbox(class="form__checkbox-box", type="checkbox", name="departments", value=department.name, checked=checked,  style="width: 20px; height: 20px;")
                  //-input#department-checkbox(type="checkbox", name="departments", value=department.name, checked=department.checked, style="width: 20px; height: 20px;")
                label(class="form__checkbox-label" style="display: block; margin-bottom: 10px;")
                  |
                  input(type="checkbox", name="departments", value=department.name, checked=checked, id=`department-${department.name}`, style="width: 20px; height: 20px;")
                  span(class="form__checkbox-name", style="font-size: 1.5rem;") #{department.name}

              //-each department in data.departments
                //-label(class="form__checkbox-label" style="display: block; margin-bottom: 10px;")
                  input.form__checkbox-box#department-checkbox(type="checkbox", name="departments", value=department.name, checked=department.checked, style="width: 20px; height: 20px;")
                  span.form__checkbox-name(style="font-size: 1.5rem;") #{department.name}

              //-each department in data.departments
                //-label(class="form__checkbox-label" style="display: block; margin-bottom: 10px;")
                  |
                  //-input#department(class="form__checkbox-box", type="checkbox", name="departments", value=department.name, checked=checked,  style="width: 20px; height: 20px;")
                  input#department(class="form__checkbox-box", type="checkbox", name="departments", value=department.name, checked=department.checked,  style="width: 20px; height: 20px;")
                  span(class="form__checkbox-name", style="font-size: 1.5rem;") #{department.name}


            div(class="form__group")
              button.btn.btn--green Save
              a.btn.btn--small.btn--gray(href=`/api/v1/manage_users`) Cancel

            script.
              function getSelectedDepartments() {
                const departmentCheckboxes = document.querySelectorAll('input[name="departments"]');
                let selectedDepartments = [];
                departmentCheckboxes.forEach((checkbox) => {
                  if (checkbox.checked) {
                    selectedDepartments.push(checkbox.value);
                  }
                });
                if (selectedDepartments.length > 0) {
                  console.log(selectedDepartments + " sind angewählt");
                  //#department === selectedDepartments
                  //-const selectedDepartmentsString = JSON.stringify(selectedDepartments);
                  document.querySelector('#department').value = selectedDepartments;
                  //-document.querySelector('#department').value = selectedDepartmentsString
                } else {
                  console.log(selectedDepartments.length + " Departments!!!");
                  alert('Bitte wählen Sie mindestens eine Abteilung aus.');
                }
              }
            //-script.
              function getSelectedDepartments() {
                const departmentCheckboxes = document.querySelectorAll('input[name="departments"]');
                consoloe.log("departmentCheckboxes: "+departmentCheckboxes)
                let selectedDepartments = [];
                departmentCheckboxes.forEach((checkbox) => {
                  if (checkbox.checked) {
                  console.log("checkbox.checked"+checkbox.checked)
                    selectedDepartments.push(checkbox.value);
                  }
                });
                if (selectedDepartments.length > 0) {
                  console.log(selectedDepartments + " sind angewählt");
                  document.querySelector('#departments').value = selectedDepartments.join(', ');
                } else {
                  console.log(selectedDepartments.length + " Departments!!!");
                  alert('Bitte wählen Sie mindestens eine Abteilung aus.');
                }
              }
