extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu

                ul.side-nav
                    +navItem('/api/v1/me', 'My Settings', 'settings', true)
                    +navItem('/api/v1/myMalReports', 'My ASMA-error reports', 'user-error-report')

                - if(user.role === 'admin' || user.role === 'Chef')
                    .admin-nav
                        h5.admin-nav__heading= `${user.role}`
                        ul.side-nav
                            +navItem('/api/v1/manage_users', 'Manage users', 'users')
                            +navItem('/api/v1/manage_machinery', 'Manage machinery', 'machine')
                            +navItem('/api/v1/manage_user-machine', 'Manage user/machine', 'user-m')
                            +navItem('/api/v1/manage_ASMAmachine', 'Manage ASMA/machine', 'machine-asma', true)

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Create new component for a sector
                    br
                    h1 Here you can add a component to a sector
                    br
                    if(data.sectorASMA.components.length === 0)
                        h2(style="color: red" ) The machine has no components yet
                        br
                        form.form.form-new-componentsASMA-data
                            div(class="form__group")
                                input#machineID(class="form__input", type="hidden", value=data.machine._id, readonly, style="background-color: lightgrey;")
                                input#sectorASMAID(class="form__input", type="hidden", value=data.sectorASMA._id, readonly, style="background-color: lightgrey;")
                                label(class="form__label", for="name_de") Component Name_de
                                input#input_name_de(class="form__input" type="text" placeholder="Bundlader" required="required")
                                br
                                label(class="form__label", for="name_en") Component Name_en
                                input#input_name_en(class="form__input" type="text" placeholder="Bundle loader" required="required")
                                br
                                label(class="form__label", for="description_de") Description_de
                                input#input_description_de(class="form__input" type="text" placeholder="Description_de" required="required")
                                br
                                label(class="form__label", for="description_en") Description_en
                                input#input_description_en(class="form__input" type="text" placeholder="Description_en" required="required")
                            div(class="form__group")
                                button.btn.btn--green.btn--saveCreateComponentsASMAMachine(href=`#`) Save
                                a.btn-space
                                a.btn.btn--small.btn--gray(href=`/api/v1/manage_ASMAmachine`) Cancel
                    else
                        each component in data.sectorASMA.components
                          div(class="form__group")
                              input#sectorASMAID(class="form__input", type="hidden", value=data.sectorASMA._id, readonly, style="background-color: lightgrey;")
                              input#machineID(class="form__input", type="hidden", value=data.machine._id, readonly, style="background-color: lightgrey;")
                              label(class="form__label", for="name_de") Component Name_de
                              input#name_de(class="form__input", type="text", value=component.name_de, readonly, style="background-color: lightgrey;")
                              label(class="form__label", for="name_en") Component Name_en
                              input#name_en(class="form__input", type="text", value=component.name_en, readonly, style="background-color: lightgrey;")
                              br
                              label(class="form__label", for="description_de") Description_de
                              input#description_de(class="form__input", type="text", value=component.description_de, readonly, style="background-color: lightgrey;")
                              br
                              label(class="form__label", for="description_en") Description_en
                              input#description_en(class="form__input", type="text", value=component.description_en, readonly, style="background-color: lightgrey;")
                              br
                              br
                              span
                                  a.btn(href=`/api/v1/createASMAmachine/${data.machine._id}/${data.sectorASMA._id}/updateComponentASMA/${component._id}`, style="background-color:orange;") Edit
                                  a.btn-space
                                  a.btn(href=`/api/v1/createASMAmachine/${data.machine._id}/${data.sectorASMA._id}/createComponentDetails/${component._id}`, style="background-color:lightblue;") ComponentDetails
                                  a.btn-space
                                  a.btn.btn--small.btn--gray(href=`/api/v1/manage_ASMAmachine`) Cancel
                                  br
                                  br
                        br
                        button.btn.btn--green1 + Component

                        form.form.form-new-componentsASMA-data
                            div(class="form__group" id="nameDiv" style="display: none;")
                                br
                                input#id(class="form__input", type="hidden", value=data.sectorASMA._id, readonly, style="background-color: lightgrey;")
                                label(class="form__label", for="name_de") Component Name_de
                                input#input_name_de(class="form__input" type="text" placeholder="Bundlader" required="required")
                                br
                                label(class="form__label", for="name_en") Component Name_en
                                input#input_name_en(class="form__input" type="text" placeholder="Bundle loader" required="required")
                            div(class="form__group" id="description_deDiv" style="display: none;")
                                label(class="form__label", for="description_de") Description_de
                                input#input_description_de(class="form__input" type="text" placeholder="Description_de" required="required")
                                br
                                label(class="form__label", for="description_en") Description_en
                                input#input_description_en(class="form__input" type="text" placeholder="Description_en" required="required")
                            div(class="form__group" id="saveBtnDiv" style="display: none;")
                                button.btn.btn--green.btn--saveCreateComponentsASMAMachine(href=`#`) Save
                                a.btn-space
                                a.btn.btn--small.btn--gray(href=`/api/v1/manage_ASMAmachine`) Cancel
                        script.
                          const btnPlus = document.querySelector('.btn--green1');
                          const nameDiv = document.querySelector('#nameDiv');
                          const description_deDiv = document.querySelector('#description_deDiv');
                          const saveBtnDiv = document.querySelector('#saveBtnDiv')

                          btnPlus.addEventListener('click', function() {
                            if (nameDiv.style.display === "none") {
                              nameDiv.style.display = "block";
                              description_deDiv.style.display = "block";
                              saveBtnDiv.style.display = "block";
                            } else {
                              nameDiv.style.display = "none";
                              description_deDiv.style.display = "none";
                              saveBtnDiv.style.display = "none"
                            }
                          });

                        br
                        br
                        br
                        div(class="form__group")