extend base

block content
    main.main
      h1 Hallo updateASMAMachine hier kann die Maschine zu ASMA gemacht werden
      //-h2= `bin ${data.machine}`
      h1 wähle ein SektorASMA aus. entweder die Maschine ansich, oder wenn die Maschine aus weiteren Anlagen besteht. zb Addafer

      br
      h1 MaschinenID:
      h1= data.machine._id
      //-h1= data.machine.sectorASMA.length
      if(data.machine.sectorASMA.length===0)
          h2(style="color: red" ) Die Anlage hat noch kein ASMA, schreiben sie die Anlage ins feld
          form.form.form-new-sectorASMA-data
             div(class="form__group")
                input#id(class="form__input", type="hidden", value=data.machine._id, readonly, style="background-color: lightgrey;")
                label(class="form__label", for="name") Name SectorASMA
                input#input_name(class="form__input" type="text" placeholder="Rat.1 oder Addafer" required="required")
                br
                label(class="form__label", for="description_de") Description_de
                input#input_description_de(class="form__input" type="text" placeholder="Description_de" required="required")
                br
                label(class="form__label", for="description_en") Description_en
                input#input_description_en(class="form__input" type="text" placeholder="Description_en" required="required")
             div(class="form__group")
                //-button.btn.btn--green.btn--saveCreateSectorASMAMachine(href=`/api/v1/machinery/createSectorASMAMachine`) Save
                button.btn.btn--green.btn--saveCreateSectorASMAMachine(href=`#`) Save
      else
        //-h2= data.machine.sectorASMA.length
        each sector in data.machine.sectorASMA
            div(class="form__group")
              input#idSectionASMA(class="form__input", type="hidden", value=sector.id, readonly, style="background-color: lightgrey;")
              label(class="form__label", for="name") Name
              input#name(class="form__input", type="text", value=sector.name, readonly, style="background-color: lightgrey;")
              //-div(class="form__group")
              label(class="form__label", for="description_de") Description_de
              input#description_de(class="form__input", type="text", value=sector.description_de, readonly, style="background-color: lightgrey;")
              br
              label(class="form__label", for="description_en") Description_en
              input#description_en(class="form__input", type="text", value=sector.description_en, readonly, style="background-color: lightgrey;")
              //-a(href=`/api/v1/manage_updateASMAmachine/${data.machine._id}/sectorASMA/${sector._id}`) edit
              br
              span
                a.btn(href=`/api/v1/createASMAmachine/${data.machine._id}/updateSectorASMA/${sector.id}`, style="background-color:orange;") edit
              //-br
              span
                a.btn(href=`/api/v1/createASMAmachine/${data.machine._id}/createComponents/${sector.id}`, style="background-color:lightblue;") Components
        button#btn-plus +

        form.form.form-new-sectorASMA-data
            div(class="form__group" id="nameDiv" style="display: none;")
                input#id(class="form__input", type="hidden", value=data.machine._id, readonly, style="background-color: lightgrey;")
                label(class="form__label", for="name") Name sectorASMA
                input#input_name(class="form__input" type="text" placeholder="Rattunde 1 oder Addafer" required="required")
            div(class="form__group" id="description_deDiv" style="display: none;")
                label(class="form__label", for="description_de") Description_de
                input#input_description_de(class="form__input" type="text" placeholder="Description_de" required="required")
                br
                label(class="form__label", for="description_en") Description_en
                input#input_description_en(class="form__input" type="text" placeholder="Description_en" required="required")
            div(class="form__group" id="saveBtnDiv" style="display: none;")
                //-button.btn.btn--green.btn.btn--saveCreateSectorASMAMachine(href=`/api/v1/machinery/createASMAMachine`) Save
                button.btn.btn--green.btn--saveCreateSectorASMAMachine(href=`#`) Save

        script.
            const btnPlus = document.querySelector('#btn-plus');
            const nameDiv = document.querySelector('#nameDiv');
            const description_deDiv = document.querySelector('#description_deDiv');
            const saveBtnDiv = document.querySelector('#saveBtnDiv')
            btnPlus.addEventListener('click', function() {
              if (nameDiv.style.display === "none") {
                nameDiv.style.display = "block";
                description_deDiv.style.display = "block";
                saveBtnDiv.style.display = "block";
              } else {
                nameDiv.style.display = "none";
                description_deDiv.style.display = "none";
                saveBtnDiv.style.display = "none"
              }
            });




      br
      br
      br
      h1 --------------------------------
      br
      //-form.form.form-new-user-data
         div(class="form__group")
            label(class="form__label", for="sectorASMA") SectorASMA
            input#sectorASMA(class="form__input" type="text" placeholder="Rattunde 1 oder Addafer" required="required")
         div(class="form__group")
            label(class="form__label", for="description") Description
            input#description(class="form__input" type="text" placeholder="Description")
         //-script.
            //-console.log(machine.sectorASMA.length)
            //-console.log(#{machine.sectorASMA.length})

      br
      div(class="form__group")
         //-button.btn.btn--green Save
         //-a.btn.btn--green(href=`/api/v1/machiner/createASMAMachine`) Save
         a.btn.btn--small.btn--gray(href=`/api/v1/manage_ASMAmachine`) Cancel