extends base

mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text

block content
    script.
        console.log("Department");
    main.main
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/departments/departments-cover/${department.imageCover}`, alt=`${department.name}`)

        .heading-box
            h1.heading-primary
                span= `${department.name}`
            .heading-box__group
              .heading-box__detail
                svg.heading-box__icon
                    use(xlink:href='/img/icons.svg#icon-map-pin')
                span.heading-box__text= department.location

    section.section-description
        .description-box
            .overview-box__group
                h2.heading-secondary.ma-bt-lg Quick facts

                +overviewBox('Employees', `${department.employeesCount} persons`, 'user')
                +overviewBox('Machinery', `${department.machineryCount} machine`, 'machine')

            .description-box

                div
                .overview-box__group
                     if(department.machinery.length > 0)
                        h1.heading-secondary.ma-bt-lg Machinery
                        if(currentUser.role === 'admin')
                          br
                          table
                            each zone in machineryZones
                              - const machinesInZone = department.machinery.filter(machine => machine.zone.includes(zone))
                              if (machinesInZone.length > 0)
                                  tr
                                      td
                                          span(style="font-size: 14px;")= zone === 'Schweissen' ? 'Welding' : zone === 'S채gen' ? 'Sawing' : zone === 'Ziehen' ? 'Drawing' : zone === 'Spitzen' ? 'Topping' : zone === 'Richten' ? 'Straightening' : zone === 'Gl체hen' ? 'Glowing' : zone === 'Beizen' ? 'Pickling' : zone === 'Sonstige' ? 'Others' : zone === 'Spalten' ? 'Splitting' : zone === 'Richten' ? 'Stretching' : zone
                                  each machine in machinesInZone
                                      tr
                                          td
                                              h1(style="padding-top: 8px;")= machine.name
                                          td(style="padding-left:20px;padding-top: 8px;")
                                              .punkt(style=(machine.statusRun ? 'background-color: #50BE5F' : 'background-color: #E93A48'))
                                          td(style="padding-left:10px;padding-top: 8px;")
                                              a.btn.btn--small.btn--green(href=`/api/v1/departments/${department.name}/machinery/${machine.name}` style="background-color:lightblue;") Details
                        else
                            br
                            table
                              each machineID in currentUser.machinery

                                - const machine = department.machinery.find(m => m._id.toString() === machineID._id.toString())
                                if machine
                                    tr
                                        td
                                            if department.machinery.filter(m => m.zone === machine.zone).indexOf(machine) === 0
                                                tr
                                                    td

                                                        - const zoneTextMap = {'Schweissen': 'Welding','S채gen': 'Sawing','Ziehen': 'Drawing','Spitzen': 'Topping','Richten': 'Straightening','Gl체hen': 'Glowing','Beizen': 'Pickling','Sonstige': 'Others','Spalten': 'Splitting',};

                                                        span(style="font-size: 14px;")= zoneTextMap[machine.zone] || machine.zone
                                                        script.
                                                          console.log("#{machine.zone}");

                                        td(style="padding-top: 8px;")
                                            span.overview-box__label= machine.name
                                        td(style="padding-left:20px;padding-top: 8px;")
                                            .punkt(style=(machine.statusRun ? 'background-color: #50BE5F' : 'background-color: #E93A48'))
                                        td(style="padding-left:10px;padding-top: 8px;")
                                            a.btn.btn--green.btn--small(href=`/api/v1/departments/${department.name}/machinery/${machine.name}`, style="background-color:lightblue;") Details

                     else
                         h1.heading-secondary.ma-bt-lg Machinery
                         h1 No machine
                     br
                     br
                     br
                     if(department.name === 'Unterhalt')
                           a.btn.btn--red(href=`/api/v1/${department.name}/ASMA`, style="background-color:lightblue;") ASMA Unterhalt

        .description-box
              h2.heading-secondary.ma-bt-lg= `About ${department.name} department`
              - const paragraphs = department.description_en.split('\n');
              each p in paragraphs
                  p.description__text= p
              br
              br
              br
              .overview-box
                  .overview-box__group
                     h2.heading-secondary.ma-bt-lg The department employees

              table
                  each employee in department.employees
                      tr
                          td
                              img.overview-box__img(src=`/img/users/${employee.photo}`, alt=`${employee.firstName} ${employee.lastName}`)

                          td
                            - if(employee.role === 'admin')
                              span.overview-box__label_big Admin
                            - if(employee.role === 'Chef')
                              span.overview-box__label_big Chef
                            - if(employee.role === 'Unterhalt')
                              span.overview-box__label_little=employee.professional
                            - if(employee.role === 'Schichtleiter')
                              span.overview-box__label Schichtleiter
                            - if(employee.role === 'user')
                              span.overview-box__label_little=employee.professional
                          td(style="margin-left: 20px; font-size: 14px;")
                              span.overview-box__text= `${employee.firstName} ${employee.lastName}`

    section.section-description
        .description-box
            div
            div
            div
            br
            br
            br
            br
            br

    section.section-pictures
      each img, i in department.images
          .picture-box
              img.picture-box__img(src=`/img/departments/${img}`, alt=`${img} ${i + 1}`, class=`.picture-box__img--${i + 1}`)
    br