extends base

block content
    main.main
      table#manageUsersTable.manageUsersTable.table
        thead
          tr
            th ID
            th Employee<br>Number
              button-upDown
                spam.arrow-up
              button-upDown
                spam.arrow-down
            th Lastname
            th Firstname
            th Birth date
            th Gender
            th Language
            th Professional
            th Photo
            th E-Mail
            th Role
            th Department
            th Password
            th Created At
            th Edit
        tbody
          each user in users
            tr
              td= user._id
              td= user.employeeNumber
              td= user.lastName
              td= user.firstName
              td= user.birthDate
              td= user.gender
              td= user.language
              td= user.professional
              td= user.photo
              td= user.email
              td= user.role
              td= user.department
              td= user.password
              td= user.createdAt
              td

      br
      br

      a.btn.btn--small.btn--green(href="/api/v1/createUser") Create new User
