extends base

block content
    main.main2
      table#manageUsersTable.manageUsersTable.table
        thead
          tr
            th ID
            th createdAt
            th Employee Number
              button-upDown
                spam.arrow-up
              button-upDown
                spam.arrow-down
            th firstName
            th lastName
            th birthDate
            th gender
            th language
            th photo
            //-th Name
              //-span Name
              //-.arrowUpDown
              button-upDown
                spam.arrow-up
              button-upDown
                spam.arrow-down
            th E-Mail
            th Role
            th department
            th password
            th Edit
        tbody
          each user in users
            tr
              td= user._id
              td= user.createdAt
              td= user.employeeNumber
              td= user.firstName
              td= user.lastName
              td= user.birthDate
              td= user.gender
              td= user.language
              td= user.photo
              //td= user.name
              td= user.email
              td= user.role
              td= user.department
              td= user.password
              td
                //-a.edit-button(href=`/user/${user._id}`) Edit
                //-a.delete-button(data-id=user._id) Delete

      br
      br
      h1 hallo
      br

      a.btn.btn--small.btn--green(href="/api/v1/createUser") Create new User
