extends base

block content
    main.main
        if(currentUser.role === 'admin')
            table(style="margin: 0 auto;")
                tr
                    td(style="text-align: center; padding-right: 20px;")
                        h2 Total:
                    td(style="text-align: right; font-weight: bold;")
                        h1=`${users.length}`
                    td(style="padding-left: 10px;")
                        h2 Employees
                tr
                    td(style="text-align: center; padding-right: 20px;")
                        h2 Total:
                    td(style="text-align: right; font-weight: bold;")
                        h1=`${machinery.length}`
                    td(style="padding-left: 10px;")
                        h2 Machinery

        .card-container
            script.
                console.log("Hello World- Overview");

            each department in departments
                - let slug = department.slug
                //h1= department.slug
                - if (department.slug === 'geschafts-fuhrung')
                       //- department.slug = 'Geschäfts-Führung'
                //h1= department.slug
                a.card(href=`/api/v1/departments/${encodeURIComponent(department.slug)}`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/departments/departments-cover/${department.imageCover}`, alt=`${department.name}`)
                        h3.heading-tertirary
                            span= department.name

                    .card__details
                        h4.card__sub-heading= `${department.employeesCount}-man strong group`
                        p.card__text= department.summary_en
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= department.location
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span= `${department.employeesCount} employees`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-machine')
                            span= `${department.machineryCount} machinery`


