extends base


block content
    main.main
        if(currentUser.role === 'admin')
            //div(style="margin: 0 auto;")
                h3(style="text-align: center;")= `Total: ${users.length} Employees`
                br
                h3(style="text-align: center;")= `Total: ${machinery.length} Machinery`
            table(style="margin: 0 auto;")
                tr
                    td(style="text-align: center; padding-right: 20px;")
                        h1 Total:
                    td
                        h1=`${users.length} Employees`
                tr
                    td(-style="text-align: center; padding-right: 20px;")
                        h1 Total:
                    td
                        h1=`${machinery.length} Machinery`


        .card-container
            script.
                console.log("Hello World- Overview");

            //-if(user.department === 'Engineering')
            //-h1= `About ${user.department}`
            each department in departments
                //-h6= `${department.name}`
                //-if(user.department === department.name)
                //h1= `${user.department}`
                //h1= `${department.name}`
                .card
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/departments/departments-cover/${department.imageCover}`, alt=`${department.name}`)
                        h3.heading-tertirary
                            span= department.name

                    .card__details
                        h4.card__sub-heading= `${department.employeesCount}-Mann starke Truppe`
                        p.card__text= department.summary_en
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= department.location
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span= `${department.employeesCount} employees`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-machine')
                            span= `${department.machineryCount} machinery`

                    .card__footer
                        p
                            //-span.card__footer-value= `$${tour.price}`
                            //-|
                            //-span.card__footer-text per person
                        //-p.card__ratings
                            //-span.card__footer-value= tour.ratingsAverage
                            |
                            //-span.card__footer-text= `rating (${tour.ratingsQuantity})`
                        a.btn.btn--green.btn--small(href=`/api/v1/departments/${department.slug}`) Details


