extends base

block content
    main.main
      div(class="user-view__content")
        div(class="user-view__form-container")
          h2.heading-secondary.ma-bt-md= `Edit User ${data.userToUpdate.firstName}`
          form.form.form-worker-data
            input#userId(type="hidden", value="<%= user.id; %>")
            div(class="form__group")
              label(class="form__label", for="employeeNumber") Employee Number
              input#employeeNumber(class="form__input", type="number", value=data.userToUpdate.employeeNumber, readonly, style="background-color: lightgrey;")
            div(class="form__group")
              label(class="form__label", for="firstname") Firstname
              input#firstname(class="form__input", type="text", value=data.userToUpdate.firstName)
            div(class="form__group")
              label(class="form__label", for="lastname") Lastname
              input#lastname(class="form__input", type="text", value=data.userToUpdate.lastName)
            div(class="form__group")
              label(class="form__label", for="dateBirth") Date birth
              input#dateBirth(class="form__input", type="text", value=data.userToUpdate.age, readonly, style="background-color: lightgrey;")
            div(class="form__group")
              label(class="form__label", for="gender") gender
              select#gender(class="form__input")
                option(value="male") Male
                option(value="Female") Female
            div(class="form__group")
              label(class="form__label", for="language") Language
              select#language(class="form__input")
                option(value="Englisch") English
                option(value="Deutsch") Deutsch
            //-div(class="form__group")
              label(class="form__label", for="name") Name
              input#name(class="form__input", type="text", value=data.userToUpdate.name)
            div(class="form__group")
              label(class="form__label", for="email") E-Mail
              input#email(class="form__input", type="email", value=data.userToUpdate.email)
            div(class="form__group")
              label(class="form__label", for="role") Role
              select#role(class="form__input")
            button.btn.btn--small.btn--green Save
            button.btn.btn--small.btn--red Delete
            a.btn.btn--small.btn--gray(href=`/api/v1/manage_users`) Cancel