extends base

block content
    main.main
        div(class="user-view__content")
            div(class="user-view__form-container")
                h2.heading-secondary.ma-bt-md= `Edit logFal ${data.malReportLogFal.nameComponentDetail_Mal} von ${data.malReportLogFal.nameMachine_Mal}`
                form.form.form-updateLogFal-data
                    //todo make hidden, not delete!
                    input#machineName(type="text", value=data.machineName)
                    input#departmentName(type="text", value=data.departmentName)
                    input#currentUser(type="text", value=data.currentUser)
                    input#malReportID(type="text", value=data.malReportLogFal._id)
                    input#malReportLogFalID(type="text", value=data.malReportLogFal.logFal_Repair[0]._id)
                    div(class="form__group")
                        label(class="form__label", for="nameMachineMal") Name Machine
                        input#nameMachineMal(class="form__input", type="text", value=data.malReportLogFal.nameMachine_Mal,readonly, style="background-color: lightgrey;")
                    div(class="form__group")
                        label(class="form__label", for="nameSector_Mal") Name SectorASMA
                        input#nameSector_Mal(class="form__input", type="text", value=data.malReportLogFal.nameSector_Mal,readonly, style="background-color: lightgrey;")
                    div(class="form__group")
                        label(class="form__label", for="nameComponent_Mal") Name Componente
                        input#nameComponent_Mal(class="form__input", type="text", value=data.malReportLogFal.nameComponent_Mal,readonly, style="background-color: lightgrey;")
                    div(class="form__group")
                        label(class="form__label", for="nameComponentDetail_Mal") Name Component-Detail
                        input#nameComponentDetail_Mal(class="form__input", type="text", value=data.malReportLogFal.nameComponentDetail_Mal,readonly, style="background-color: lightgrey;")
                    div(class="form__group")
                        label(class="form__label", for="elektroMech") ElektroMech
                        //input#elektroMech(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].isElectroMechanical_Repair)
                        select#elektroMech(class="form__input")
                            option(value="elekt.-mech", selected=data.malReportLogFal.logFal_Repair[0].isElectroMechanical_Repair.includes("elekt.-mech"),class="isElectroMechanical_ElektroMech") elekt.-mech
                            option(value="mechanisch", selected=data.malReportLogFal.logFal_Repair[0].isElectroMechanical_Repair.includes("mechanisch"),class="isElectroMechanical_Mechanisch") Mechanisch
                            option(value="elektrisch", selected=data.malReportLogFal.logFal_Repair[0].isElectroMechanical_Repair.includes("elektrisch"),class="isElectroMechanical_Elektrisch") Elektrisch
                            option(value="Einkauf", selected=data.malReportLogFal.logFal_Repair[0].isElectroMechanical_Repair.includes("Einkauf"),class="isElectroMechanical_Einkauf") Einkauf
                    div(class="form__group")
                        label(class="form__label", for="estimatedTime_Repair") estimatedTime_Repair
                        //input#estimatedTime_Repair(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].estimatedTime_Repair)
                        select#estimatedTime_Repair(class="form__input")
                            option(value="<2h", selected=data.malReportLogFal.logFal_Repair[0].estimatedTime_Repair.includes("<2h"),class="estimatedTime_Repair2h") <2h
                            option(value="<4h", selected=data.malReportLogFal.logFal_Repair[0].estimatedTime_Repair.includes("<4h"),class="estimatedTime_Repair4h") <4h
                            option(value="<8h", selected=data.malReportLogFal.logFal_Repair[0].estimatedTime_Repair.includes("<8h"),class="estimatedTime_Repairk8h") <8h
                            option(value=">8h", selected=data.malReportLogFal.logFal_Repair[0].estimatedTime_Repair.includes(">8h"),class="estimatedTime_Repairg8h") >8h
                    div(class="form__group")
                        label(class="form__label", for="Status_Repair") Status_Repair
                        //input#Status_Repair(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].Status_Repair+"%")
                        select#Status_Repair(class="form__input")
                            option(value=0, selected=data.malReportLogFal.logFal_Repair[0].Status_Repair===0,class="Status_Repair0") 0%
                            option(value=10, selected=data.malReportLogFal.logFal_Repair[0].Status_Repair===10) 10%
                            option(value=25, selected=data.malReportLogFal.logFal_Repair[0].Status_Repair===25) 25%
                            option(value=50, selected=data.malReportLogFal.logFal_Repair[0].Status_Repair===50) 50%
                            option(value=75, selected=data.malReportLogFal.logFal_Repair[0].Status_Repair===75) 75%
                            option(value=100, selected=data.malReportLogFal.logFal_Repair[0].Status_Repair===100, class="Status_Repair100") 100%
                    div(class="form__group")
                        label(class="form__label", for="messageProblem_Repair") messageProblem_Repair
                        input#messageProblem_Repair(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].messageProblem_Repair)
                    div(class="form__group")
                        label(class="form__label", for="messageMission_Repair") messageMission_Repair
                        input#messageMission_Repair(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].messageMission_Repair)
                    div(class="form__group")
                        label(class="form__label", for="createAt_Repair") createAt_Repair
                        //input#createAt_Repair(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].createAt_Repair)
                        input#createAt_Repair(class="form__input", type="text", value=new Date().toISOString(),readonly, style="background-color: lightgrey;")
                        //input#createAt_Repair(class="form__input", type="text", value=new Date().toLocaleString('de-DE', {
                          day: '2-digit',
                          month: '2-digit',
                          year: 'numeric',
                          hour: '2-digit',
                          minute: '2-digit'
                          }),readonly, style="background-color: lightgrey;")
                    div(class="form__group")
                        label(class="form__label", for="estimatedStatus") Status_Gesamt
                        //input#Status_Repair(class="form__input", type="text", value=data.malReportLogFal.logFal_Repair[0].Status_Repair+"%")
                        select#estimatedStatus(class="form__input")
                            option(value=0, selected=data.malReportLogFal.estimatedStatus === 0,class="Status_Repair0") 0%
                            option(value=10, selected=data.malReportLogFal.estimatedStatus === 10) 10%
                            option(value=25, selected=data.malReportLogFal.estimatedStatus === 25) 25%
                            option(value=50, selected=data.malReportLogFal.estimatedStatus === 50) 50%
                            option(value=75, selected=data.malReportLogFal.estimatedStatus === 75) 75%

                    button.btn.btn--small.btn--green.btn--saveUpdateLogFal Save
                    a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${data.machineName}/MalReports`) Cancel