extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.mainASMAmachine
        .user-viewASMAmachine
            nav.user-view__menu

                ul.side-nav
                    //+navItem('/api/v1/me',  'My Settings', 'settings', true)
                    //+navItem('/api/v1/myMalReports', 'My ASMA-error reports', 'user-error-report')

                    //if(user.role === 'admin' || user.role === 'Chef')
                    //.admin-nav
                    h5.admin-nav__heading= `Unterhalt`
                    ul.side-nav
                    +navItem('#', 'Elektrische Unterlagen', 'file-text')
                    +navItem('#', 'Mechanische Unterlagen', 'file-text')
                    +navItem('#', 'Bestellungen', 'shopping-cart')
                    +navItem('#', 'Revisionen', 'settings')
                    +navItem('#', 'Wartungspläne', 'sidebar')
                        //if(data.machine.sectorASMA.length > 0)
                    +navItem('#', 'ASMA', 'machine-asma', true)


            .user-view__content
                .user-view__form-container2
                    h2.heading-secondary.ma-bt-md ASMA support
                    br
                    //a.btn.btn--small.btn--gray(href=`/api/v1/departments/${data.departmentName.toLowerCase()}`) Zurück
                    br
                    //table
                      each zone in data.machineryZones
                        - const machinesInZone = data.machinery.filter(machine => machine.zone.includes(zone))
                        if (machinesInZone.length > 0)
                            //tr
                                //h1(style="color:red" colspan="4")= zone
                            each machine, index in machinesInZone
                                if index % 4 === 0
                                    tr(style="line-height: 20px;")
                                td
                                    div(style="display: inline-block; width: 200px; margin-right: 20px;")
                                        h1= zone === 'Schweissen' ? 'Welding' : zone === 'Sägen' ? 'Sawing' : zone === 'Ziehen' ? 'Drawing' : zone === 'Spitzen' ? 'Topping' : zone === 'Richten' ? 'Straightening' : zone === 'Glühen' ? 'Glowing' : zone === 'Beizen' ? 'Pickling' : zone === 'Sonstige' ? 'Others' : zone === 'Spalten' ? 'Splitting' : zone === 'Richten' ? 'Stretching' : zone
                                td
                                    a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`, style=(machine.statusRun ? 'background-color: green' : 'background-color: red') + ';  align-items: center; justify-content: center; height: 45px;')= machine.name
                                    span(style="margin-left:15px;")

                    //table
                      each zone in data.machineryZones
                        - const machinesInZone = data.machinery.filter(machine => machine.zone.includes(zone))
                        if (machinesInZone.length > 0)
                            tr
                            tr(style="line-height: 20px;")
                                td
                                    div(style="display: inline-block; width: 200px; margin-right: 20px;")
                                        h1= zone === 'Schweissen' ? 'Welding' : zone === 'Sägen' ? 'Sawing' : zone === 'Ziehen' ? 'Drawing' : zone === 'Spitzen' ? 'Topping' : zone === 'Richten' ? 'Straightening' : zone === 'Glühen' ? 'Glowing' : zone === 'Beizen' ? 'Pickling' : zone === 'Sonstige' ? 'Others' : zone === 'Spalten' ? 'Splitting' : zone === 'Richten' ? 'Stretching' : zone
                                td
                                    div(style="display: inline-block;padding-top: 15px;")
                                        //- Hier wenn keine Maschine vorhanden...
                                        if (machinesInZone.length === 0)
                                            span Keine Maschine vorhanden
                                        else
                                          each machine, index in machinesInZone.slice(0, 3)
                                              a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`, style=(machine.statusRun ? 'background-color: green' : 'background-color: red') + ';  align-items: center; justify-content: center; height: 45px;')= machine.name
                                              span(style="margin-left:15px;")

                    table
                      each zone in data.machineryZones
                        - const machinesInZone = data.machinery.filter(machine => machine.zone.includes(zone))
                        if (machinesInZone.length > 0)
                            tr
                            tr(style="line-height: 20px;")
                                td
                                    div(style="display: inline-block; width: 200px; margin-right: 20px;")
                                        h1= zone
                                        //h1= zone === 'Schweissen' ? 'Welding' : zone === 'Sägen' ? 'Sawing' : zone === 'Ziehen' ? 'Drawing' : zone === 'Spitzen' ? 'Topping' : zone === 'Richten' ? 'Straightening' : zone === 'Glühen' ? 'Glowing' : zone === 'Beizen' ? 'Pickling' : zone === 'Sonstige' ? 'Others' : zone === 'Spalten' ? 'Splitting' : zone === 'Richten' ? 'Stretching' : zone
                                td
                                  each machine, index in machinesInZone
                                      div(style="display: inline-block;padding-top: 15px;")
                                          br
                                          a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`, style=(machine.statusRun ? 'background-color: #50BE5F' : 'background-color: #E93A48') + ';  align-items: center; justify-content: center; height: 45px;')= machine.name
                                          span(style="margin-left:15px;")
                                      if (index % 4 === 3)
                                          br
                                  br
                                  br
                                  h1(style='color: lightgrey;') _____________________________________________________________________________________

                    //table
                      each zone in data.machineryZones
                        - const machinesInZone = data.machinery.filter(machine => machine.zone.includes(zone))
                        if (machinesInZone.length > 0)
                            tr
                            tr(style="line-height: 20px;")
                                td
                                    div(style="display: inline-block; width: 200px; margin-right: 20px;")
                                        //h1= zone
                                        h1= zone === 'Schweissen' ? 'Welding' : zone === 'Sägen' ? 'Sawing' : zone === 'Ziehen' ? 'Drawing' : zone === 'Spitzen' ? 'Topping' : zone === 'Richten' ? 'Straightening' : zone === 'Glühen' ? 'Glowing' : zone === 'Beizen' ? 'Pickling' : zone === 'Sonstige' ? 'Others' : zone === 'Spalten' ? 'Splitting' : zone === 'Richten' ? 'Stretching' : zone
                                td
                                    div(style="display: inline-block;padding-top: 15px;")
                                      //white-space: nowrap; overflow-x: auto;
                                      each machine in machinesInZone
                                          //span= machine.name
                                          //span(style=(machine.statusRun ? "background-color:green" : "background-color:red"))= machine.statusRun
                                          //.status Status
                                          //.punkt(style=(machine.statusRun ? 'background-color: green' : 'background-color: red'))
                                          //a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports` style=(machine.statusRun ? 'background-color: green' : 'background-color: red' , "display: flex; align-items: center; justify-content: center; height: 50px;")= machine.name
                                          a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`, style = (machine.statusRun ? 'background-color: green' : 'background-color: red') + ';  align-items: center; justify-content: center; height: 45px;')= machine.name
                                          //a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`, style = '  align-items: center; justify-content: center; height: 45px;')= machine.name
                                          span(style="margin-left:15px;")
                        else
                        //- Hier wenn keine Maschine vorhanden...
                    br
                    br
                    a.btn.btn--small.btn--gray(href=`/api/v1/departments/${data.departmentName.toLowerCase()}`) Zurück


