extends base

block content
    main.main2
        h1 Geschlossenen Error- Reports
        br
        br
        a.btn.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${data.machineName}/MalReports`)= `Zu den offenen Punkten von ${data.machineName}`
        br
        br
        br
        table#manageASMAUnterhaltMachineClosedMalReportsTable.manageASMAUnterhaltMachineClosedMalReportsTable.table
            //- todo diese hidden machen, weil man braucht die ID's, also nicht löschen!
            //input#machineID(type="text", value=data.machineID)
            input#machineName(type="hidden", value=data.machineName)
            input#currentUser(type="hidden", value=data.currentUser)
            //-input#currentUser(type="text", value=data.currentUser)
            //-input#urlText(type="text", value=window.location.href)
            //-<input id="urlText" type="text" value="">
            thead
                tr
                    th ID
                    th Erstellt
                    th Vorname
                    th Nachname
                    th Maschine
                    th Sektor
                    th Komponente
                    th Komponent-Detail
                    th Geschätzter-Status
                    th Log's
                    //th(colspan="10")

                        table.table1
                            thead
                                tr

                                    th logFal<br>_Repair<br>._id
                                    th message<br>Problem<br>_Repair
                                    th message<br>Mission<br>_Repair
                                    th isElectro<br>Mechanical<br>_Repair
                                    th estimated<br>Time<br>_Repair
                                    th Status<br>_Repair
                                    th user<br>_Repair.<br>firstName
                                    th user<br>_Repair.<br>lastName
                                    th createAt_<br>Repair
                                    th Edit<br>_Repair
                    //th statusRun<br>_Mal
                    th Geschlossen
                    th Status
                    //th Edit<br>Mal
            tbody
              each malReport in data.closedMalReports
                  tr
                      td(style="color:red;")= malReport._id
                      td= malReport.createAt_Mal.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit', minute: '2-digit' })
                      td= malReport.user_Mal.firstName
                      td= malReport.user_Mal.lastName
                      td= malReport.nameMachine_Mal
                      td= malReport.nameSector_Mal ? malReport.nameSector_Mal : '-'
                      td= malReport.nameComponent_de_Mal ? malReport.nameComponent_de_Mal : '-'
                      td= malReport.nameComponentDetail_de_Mal ? malReport.nameComponentDetail_de_Mal : '-'
                      td= `${malReport.estimatedStatus}%`
                      //td ist leer
                      td
                          table.table1
                              //thead
                                  tr
                                      th(rowspan="2") logFal<br>_Repair<br>._id
                                      th(rowspan="2") message<br>Problem<br>_de_Repair
                                      th(rowspan="2") message<br>Mission<br>_de_Repair
                                      th(rowspan="2") isElectroMechanical_Repair
                                      th(rowspan="2") estimatedTime_Repair
                                      th(rowspan="2") Status_Repair
                                      th(rowspan="2") user_Repair.firstName
                                      th(rowspan="2") user_Repair.lastName
                                      th(rowspan="2") createAt_Repair
                                      th(rowspan="2") Edit<br>_Repair
                              tbody
                                each logFal_Repair in malReport.logFal_Repair
                                    tr
                                        td(style="color:blue;")= logFal_Repair._id
                                        td= logFal_Repair.messageProblem_de_Repair
                                        td= logFal_Repair.messageMission_de_Repair
                                        td= logFal_Repair.isElectroMechanical_Repair
                                        td= logFal_Repair.estimatedTime_Repair
                                        td= `${logFal_Repair.Status_Repair}%`
                                        td= logFal_Repair.user_Repair ? logFal_Repair.user_Repair.firstName : 'No user'
                                        td= logFal_Repair.user_Repair ? logFal_Repair.user_Repair.lastName : 'No user'
                                        td= logFal_Repair.createAt_Repair.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit',minute: '2-digit'})
                                            //span
                                        td
                                            a(href='#') YY

                      //td(style=malReport.statusRun_Mal ? '' : 'background-color: coral')= malReport.statusRun_Mal
                      td= malReport.finishAt_Mal.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit', minute: '2-digit' })
                      td= malReport.statusOpenClose_Mal
                      //td
                          a(href='#', style="color:red;") xx

        br