extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.mainASMAmachine
        .user-viewASMAmachine
            nav.user-view__menu

                ul.side-nav
                    h5.admin-nav__heading= `Unterhalt`
                    ul.side-nav
                    +navItem('#', 'Elektrische Unterlagen', 'file-text')
                    +navItem('#', 'Mechanische Unterlagen', 'file-text')
                    +navItem('#', 'Bestellungen', 'shopping-cart')
                    +navItem('#', 'Revisionen', 'settings')
                    +navItem('#', 'Wartungspläne', 'sidebar')
                    +navItem('#', 'ASMA', 'machine-asma', true)

            .user-view__content
                .user-view__form-container2
                    h2.heading-secondary.ma-bt-md ASMA support
                    br
                    br
                    table
                      each zone in data.machineryZones
                        - const machinesInZone = data.machinery.filter(machine => machine.zone.includes(zone))
                        if (machinesInZone.length > 0)
                            tr
                            tr(style="line-height: 20px;")
                                td
                                    div(style="display: inline-block; width: 200px; margin-right: 20px;")
                                        h1= zone
                                td
                                  each machine, index in machinesInZone
                                      div(style="display: inline-block;padding-top: 15px;")
                                          br
                                          a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`, style=(machine.statusRun ? 'background-color: #50BE5F' : 'background-color: #E93A48') + ';  align-items: center; justify-content: center; height: 45px;')= machine.name
                                          span(style="margin-left:15px;")
                                      if (index % 4 === 3)
                                          br
                                  br
                                  br
                                  h1(style='color: lightgrey;') _____________________________________________________________________________________

                    br
                    br
                    a.btn.btn--small.btn--gray(href=`/api/v1/departments/${data.departmentName.toLowerCase()}`) Zurück


