extends base

block content
    main.main
        h1 Geschlossenen Error- Report
        br
        br
        a.btn.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${data.machineName}/MalReports`, style="background-color: lightblue;")= `Offene Punkte von ${data.machineName}`
        br
        br
        br
        table#manageASMAUnterhaltMachineClosedMalReportsTable.manageASMAUnterhaltMachineClosedMalReportsTable.table
            // hide these fields, do not delete! it needs the ID's!
            input#machineName(type="hidden", value=data.machineName)
            input#currentUser(type="hidden", value=data.currentUser)
            thead
                tr
                    th ID
                    th Erstellt
                    th Vorname
                    th Nachname
                    th Maschine
                    th Sektor
                    th Komponente
                    th Komponent-Detail
                    th Geschätzter-Status
                    th Log's
                    th Geschlossen
                    th Status
            tbody
              each malReport in data.closedMalReports
                  tr
                      td= malReport._id
                      td= malReport.createAt_Mal.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit', minute: '2-digit' })
                      td= malReport.user_Mal.firstName
                      td= malReport.user_Mal.lastName
                      td= malReport.nameMachine_Mal
                      td= malReport.nameSector_Mal ? malReport.nameSector_Mal : '-'
                      td= malReport.nameComponent_de_Mal ? malReport.nameComponent_de_Mal : '-'
                      td= malReport.nameComponentDetail_de_Mal ? malReport.nameComponentDetail_de_Mal : '-'
                      td= `${malReport.estimatedStatus}%`
                      td
                          table.table1
                              tbody
                                each logFal_Repair in malReport.logFal_Repair
                                    tr
                                        td= logFal_Repair._id
                                        td= logFal_Repair.messageProblem_de_Repair
                                        td= logFal_Repair.messageMission_de_Repair
                                        td= logFal_Repair.isElectroMechanical_Repair
                                        td= logFal_Repair.estimatedTime_Repair
                                        td= `${logFal_Repair.Status_Repair}%`
                                        td= logFal_Repair.user_Repair ? logFal_Repair.user_Repair.firstName : 'No user'
                                        td= logFal_Repair.user_Repair ? logFal_Repair.user_Repair.lastName : 'No user'
                                        td= logFal_Repair.createAt_Repair.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit',minute: '2-digit'})
                                        td
                                            a(href='#') YY

                      td= malReport.finishAt_Mal.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit', minute: '2-digit' })
                      td= malReport.statusOpenClose_Mal

        br