extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu

              ul.side-nav
                    +navItem('/api/v1/me', 'My Settings', 'settings', true)
                    +navItem('#', 'My ASMA-error reports', 'user-error-report')

              - if(user.role === 'admin' || user.role === 'Chef')
                  .admin-nav
                      h5.admin-nav__heading= `${user.role}`
                      ul.side-nav
                          +navItem('/api/v1/manage_users', 'Manage users', 'users')
                          +navItem('/api/v1/manage_machinery', 'Manage machinery', 'machine')
                          +navItem('/api/v1/manage_user-machine', 'Manage user/machine', 'user-m')
                          +navItem('/api/v1/manage_ASMAmachine', 'Manage ASMA/machine', 'machine-asma', true)

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md erstellen neuer Sektor
                    br
                    h1 Hier kann die Maschine zu einer ASMA gemacht werden.
                        //-h2= `bin ${data.machine}`
                        //-h1 Wähle dazu einen SektorASMA aus.

                    br
                    //- h1 MaschinenID:
                    //- h1= data.machine._id
                    //-h1= data.machine.sectorASMA.length
                    if(data.machine.sectorASMA.length===0)
                        h2(style="color: red" ) Die Anlage hat noch kein ASMA, schreiben sie die Anlage ins feld
                        form.form.form-new-sectorASMA-data
                            div(class="form__group")
                                input#id(class="form__input", type="hidden", value=data.machine._id, readonly, style="background-color: lightgrey;")
                                label(class="form__label", for="name") Name SectorASMA
                                input#input_name(class="form__input" type="text" placeholder="Rat.1 oder Addafer" required="required")
                                br
                                label(class="form__label", for="description_de") Beschreibung_de
                                input#input_description_de(class="form__input" type="text" placeholder="Beschreibung_de" required="required")
                                br
                                label(class="form__label", for="description_en") BeschreibungS_en
                                input#input_description_en(class="form__input" type="text" placeholder="Description_en" required="required")
                            div(class="form__group")
                            button.btn.btn--green.btn--saveCreateSectorASMAMachine(href=`#`) Save
                    else
                      //-h2= data.machine.sectorASMA.length
                      each sector in data.machine.sectorASMA
                        div(class="form__group")
                              input#idSectionASMA(class="form__input", type="hidden", value=sector.id, readonly, style="background-color: lightgrey;")
                              label(class="form__label", for="name") Name
                              input#name(class="form__input", type="text", value=sector.name, readonly, style="background-color: lightgrey;")
                              //-div(class="form__group")
                              label(class="form__label", for="description_de") Description_de
                              input#description_de(class="form__input", type="text", value=sector.description_de, readonly, style="background-color: lightgrey;")
                              br
                              label(class="form__label", for="description_en") Description_en
                              input#description_en(class="form__input", type="text", value=sector.description_en, readonly, style="background-color: lightgrey;")
                              br
                              br
                              span
                                  a.btn(href=`/api/v1/createASMAmachine/${data.machine._id}/updateSectorASMA/${sector.id}`, style="background-color:orange;") edit
                                  a.btn-space
                                  a.btn(href=`/api/v1/createASMAmachine/${data.machine._id}/createComponents/${sector.id}`, style="background-color:lightblue;") Components
                                  br
                                  br
                                  //-button#btn-plus +
                                  //-button.btn.btn--green1#btn-plus + Sektor
                      button.btn.btn--green1#btn-plus + Sektor

                      form.form.form-new-sectorASMA-data
                            div(class="form__group" id="nameDiv" style="display: none;")
                                input#id(class="form__input", type="hidden", value=data.machine._id, readonly, style="background-color: lightgrey;")
                                label(class="form__label", for="name") Name sectorASMA
                                input#input_name(class="form__input" type="text" placeholder="Rattunde 1 oder Addafer" required="required")
                            div(class="form__group" id="description_deDiv" style="display: none;")
                                label(class="form__label", for="description_de") Description_de
                                input#input_description_de(class="form__input" type="text" placeholder="Description_de" required="required")
                                br
                                label(class="form__label", for="description_en") Description_en
                                input#input_description_en(class="form__input" type="text" placeholder="Description_en" required="required")
                            div(class="form__group" id="saveBtnDiv" style="display: none;")
                                //-button.btn.btn--green.btn.btn--saveCreateSectorASMAMachine(href=`/api/v1/machinery/createASMAMachine`) Save
                                button.btn.btn--green.btn--saveCreateSectorASMAMachine(href=`#`) Save

                      script.

                          const btnPlus = document.querySelector('#btn-plus');
                          const nameDiv = document.querySelector('#nameDiv');
                          const description_deDiv = document.querySelector('#description_deDiv');
                          const saveBtnDiv = document.querySelector('#saveBtnDiv')
                          btnPlus.addEventListener('click', function() {
                            if (nameDiv.style.display === "none") {
                              nameDiv.style.display = "block";
                              description_deDiv.style.display = "block";
                              saveBtnDiv.style.display = "block";
                            } else {
                              nameDiv.style.display = "none";
                              description_deDiv.style.display = "none";
                              saveBtnDiv.style.display = "none"
                            }
                          });
                      br
                      br
                      br
                      div(class="form__group")
                            //-button.btn.btn--green Save
                            //-a.btn.btn--green(href=`/api/v1/machiner/createASMAMachine`) Save
                            a.btn.btn--small.btn--gray(href=`/api/v1/manage_ASMAmachine`) Cancel
