extends base

block content
    main.main
        table#manageUsersTable.manageUsersTable.table
            thead
                tr
                    th ID
                    th Mitarbeiter- Nummer
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down
                    th Nachname
                    th Vorname
                    th Geburtsdatum
                    th Geschlecht
                    th Sprache
                    th Beruf
                    th Foto
                    //-th Name
                      //-span Name
                      //-.arrowUpDown
                      button-upDown
                        spam.arrow-up
                      button-upDown
                        spam.arrow-down
                    th E-Mail
                    th Rolle
                    th Abteilung
                    th Passwort
                    th Erstellt am
                    th Bearbeiten
            tbody
              each user in users
                  tr
                      td= user._id
                      td= user.employeeNumber
                      td= user.lastName
                      td= user.firstName
                      td= user.birthDate
                      td= user.gender
                      td= user.language
                      td= user.professional
                      td= user.photo
                      //td= user.name
                      td= user.email
                      td= user.role
                      td= user.department
                      td= user.password
                      td= user.createdAt
                      td
                          //-a.edit-button(href=`/user/${user._id}`) Edit
                          //-a.delete-button(data-id=user._id) Delete

        br
        br
        //-h1 hallo
        br

        a.btn.btn--small.btn--green(href="/api/v1/createUser") Erstelle neuen Benutzer
