extends base

block content
    main.main
        h1 Eine Maschine besteht aus Sektoren, Komponenten und Details
        <br>
        <br>
        table#manageASMAMachineTable.manageASMAMachineTable.table
            thead
                tr
                    th ID
                    th Name
                    th Beschreibung
                    th Abteilung
                    th ASMA-Maschine
                    th Edit
            tbody
              each machine in machinery
                  tr
                      td= machine._id
                      td= machine.name
                      td= machine.description
                      td= machine.department
                      td
                        each sector in machine.sectorASMA
                            p= sector.name
                      td
                          a.edit-button(href=`/api/v1/createASMAmachine/${machine._id}`) Bearbeiten

        br