extends base

block content
    main.main

        table#manageUsersMachineryTable.manageUsersMachineryTable.table
            thead
                tr
                    th User ID
                    th Mitarbeiter- Nummer
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down
                    th Nachname
                    th Vorname
                    th Beruf
                    th Abteilung
                    th Maschine
                    th Bearbeiten
            tbody
              each user in data.users
                  tr
                      td= user._id
                      td= user.employeeNumber
                      td= user.firstName
                      td= user.lastName
                      td= user.professional
                      td= user.department
                      td= user.machinery
                          if user.machinery

                            each machineId in user.machinery
                              - const machine = data.machinery.find(m => m._id.toString() === machineId.toString())
                              if machine
                                  span= machine.name
                              else
                                  span No machine found
                          else
                              span No machine assigned
                      td

        br
