extends base

block content
    main.main
        h1 Meine Error- Reports
        br
        table#myMalReportsTable.myMalReportsTable.table
            input#currentUserID(type="hidden", value=data.currentUser._id)
            thead
                tr
                    th ID
                    th Erstellt
                    th Vorname
                    th Nachname
                    th Maschine
                    th Sektor
                    th Komponente
                    th Komponent-Detail
                    th Geschätzter<br>Status
                    th Log's
                    th statusRun<br>_Mal
                    th status<br>OpenClose<br>_Mal
                    th Abgeschlossen
            tbody
              each malReport in data.myMalReports
                  tr
                      td= malReport._id
                      td= malReport.createAt_Mal.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit',minute: '2-digit'})
                      td= malReport.user_Mal.firstName
                      td= malReport.user_Mal.lastName
                      td= malReport.nameMachine_Mal
                      td= malReport.nameSector_Mal ? malReport.nameSector_Mal : '-'
                      td= malReport.nameComponent_de_Mal ? malReport.nameComponent_de_Mal : '-'
                      td= malReport.nameComponentDetail_de_Mal ? malReport.nameComponentDetail_de_Mal : '-'
                      td= `${malReport.estimatedStatus}%`
                      td
                          table.table1
                              tbody
                                each logFal_Repair in malReport.logFal_Repair
                                    tr
                                        td= logFal_Repair._id
                                        td= logFal_Repair.messageProblem_de_Repair
                                        td= logFal_Repair.messageMission_de_Repair
                                        td= logFal_Repair.isElectroMechanical_Repair
                                        td= logFal_Repair.estimatedTime_Repair
                                        td= `${logFal_Repair.Status_Repair}%`
                                        td= logFal_Repair.user_Repair ? logFal_Repair.user_Repair.firstName : 'No user'
                                        td= logFal_Repair.user_Repair ? logFal_Repair.user_Repair.lastName : 'No user'
                                        td= logFal_Repair.createAt_Repair.toLocaleDateString('de-DE', {day: '2-digit',month: '2-digit',year: 'numeric',hour: '2-digit',minute: '2-digit'})

                      td= malReport.statusRun_Mal
                      td= malReport.statusOpenClose_Mal
                      td= malReport.finishAt_Mal

        br
        br
        a.btn.btn--gray(href=`/api/v1/me`) Zurück