extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content

    main.main
        .user-view
            nav.user-view__menu

                ul.side-nav
                    +navItem('/api/v1/me', 'Meine Einstellungen', 'settings', true)
                    +navItem('#', 'Meine ASMA-Error Reports', 'user-error-report')

                - if(user.role === 'admin' || user.role === 'Chef')
                    .admin-nav
                        h5.admin-nav__heading= `${user.role}`
                        ul.side-nav
                            +navItem('/api/v1/manage_users', 'Benutzer- Verwaltung', 'users')
                            +navItem('/api/v1/manage_machinery', 'Maschinen- Verwaltung', 'machine', true)
                            +navItem('/api/v1/manage_user-machine', 'Benutzer/Maschine- Verwaltung', 'user-m')
                            +navItem('/api/v1/manage_ASMAmachine', 'ASMA/Maschine- Verwaltung', 'machine-asma')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md= `Edit machine ${data.machineToUpdate.name}`
                    form.form.form-machine-data
                        input#machineId(type="hidden", value=data.machineToUpdate._id)
                        div(class="form__group")
                            label(class="form__label", for="name") Name
                            input#name(class="form__input", type="text", value=data.machineToUpdate.name,)
                        div(class="form__group")
                            label(class="form__label", for="description") Description
                            input#description(class="form__input", type="text", value=data.machineToUpdate.description)
                        div(class="form__group")
                            label(class="form__label", for="type") Type
                            input#type(class="form__input", type="text", value=data.machineToUpdate.type)
                        div(class="form__group")
                            label(class="form__label", for="constructionYear") Construction year
                            input#constructionYear(class="form__input", type="text", value=data.machineToUpdate.constructionYear)
                        div(class="form__group")
                            label(class="form__label", for="companyMachine") Company machine
                            input#companyMachine(class="form__input", type="text", value=data.machineToUpdate.companyMachine)
                        div(class="form__group")
                            label(class="form__label", for="voltage") Voltage
                            input#voltage(class="form__input", type="text", value=data.machineToUpdate.voltage)
                        div(class="form__group")
                            label(class="form__label", for="controlVoltage") Control voltage
                            input#controlVoltage(class="form__input", type="text", value=data.machineToUpdate.controlVoltage)
                        div(class="form__group")
                            label(class="form__label", for="ratedCurrent") Rated current
                            input#ratedCurrent(class="form__input", type="text", value=data.machineToUpdate.ratedCurrent)
                        div(class="form__group")
                            label(class="form__label", for="electricalFuse") Electrical fuse
                            input#electricalFuse(class="form__input", type="text", value=data.machineToUpdate.electricalFuse)
                        div(class="form__group")
                            label(class="form__label", for="compressedAir") Compressed air
                            input#compressedAir(class="form__input", type="text", value=data.machineToUpdate.compressedAir)
                        div(class="form__group")
                            label(class="form__label", for="weightMass") Weight mass
                            input#weightMass(class="form__input", type="text", value=data.machineToUpdate.weightMass)
                        div(class="form__group")
                            label(class="form__label", for="dimensions") Dimensions
                            input#dimensions(class="form__input", type="text", value=data.machineToUpdate.dimensions)
                        div(class="form__group")
                            label(class="form__label", for="drawingNumber") Drawing number
                            input#drawingNumber(class="form__input", type="text", value=data.machineToUpdate.drawingNumber)
                        //-div(class="form__group")
                          label(class="form__label", for="XXXXX") departmentXXXX
                          input#XXXXX(class="form__input", type="text", value=data.machineToUpdate.department)
                        div(class="form__group")
                            label(class="form__label", for="department") Department
                            select#department(class="form__input")
                                option(value=data.machineToUpdate.department, selected, style="background-color: #98B7E1; color: white;") #{data.machineToUpdate.department}
                                option(value="Schweisserei", selected=data.machineToUpdate.department.includes("Schweisserei")) Schweisserei
                                option(value="Zieherei", selected=data.machineToUpdate.department.includes("Zieherei")) Zieherei
                                option(value="Anarbeit", selected=data.machineToUpdate.department.includes("Anarbeit")) Anarbeit
                                option(value="Unterhalt", selected=data.machineToUpdate.department.includes("Unterhalt")) Unterhalt
                                option(value="IT", selected=data.machineToUpdate.department.includes("IT")) IT
                                option(value="Engineering", selected=data.machineToUpdate.department.includes("Engineering")) Engineering
                                option(value="Konstruktion", selected=data.machineToUpdate.department.includes("Konstruktion")) Konstruktion
                                option(value="Geschäfts-Führung", selected=data.machineToUpdate.department.includes("Geschäfts-Führung")) Geschäfts-Führung

                        button.btn.btn--small.btn--green.btn--saveUpdateMachine Save
                        a.btn-space
                        button.btn.btn--small.btn--red.btn--deleteUpdateMachine Delete
                        a.btn-space
                        a.btn.btn--small.btn--gray(href=`/api/v1/manage_machinery`) Cancel